{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    {% block stylesheet %}{% endblock %}

</head>
<body>
{%block body%}
<nav class="navbar navbar-expand-sm navbar-dark bg-success">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Django Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainMenu">
      {%if user.is_authenticated%}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome  {{ user.username }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
            <a class="dropdown-item" href="{%url 'my_account'%}">My account</a>
            <a class="dropdown-item" href="{%url 'password_change'%}">Change password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
          </div>
        </li>
      </ul>
        {%else%}
        <form class="form-inline ml-auto">
        <a href="{%url 'login'%}" class="btn btn-outline-secondary">login</a>
        <a href="{%url 'signup'%}" class="btn btn-primary ml-2">Signup</a>
        </form>
            {%endif%}

    </div>
  </div>
</nav>
<div class="container">
<ol class="breadcrumb my-4">
    {% block breadcrumb %}
    {% endblock %}
</ol>

    {% block content %}
    {% endblock %}

</div>
{%endblock body%}
<script src="{%static 'js/jquery-3.4.1.min.js'%}"></script>
<script src="{%static 'js/popper.min.js'%}"></script>
<script src="{%static 'js/bootstrap.min.js'%}"></script>

</body>
</html>