{% extends 'base.html' %}

{%block title%}Boards {%endblock%}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Sections</li>
{%endblock%}

{% block content %}
<table class="table table-light">
    <thead class="thead-light">
    <tr>
        <th>Section</th>
        <th>Posts</th>
        <th>Topic</th>
        <th>Last Post</th>
    </tr>
    </thead>
    <tbody>
    {% for board in boards%}
    <tr>
        <td><a href="{% url 'board_topics' board.pk%}">{{board.name}}</a>
        <small class="text-muted d-block">{{board.description}}</small>
        </td>
        <td>{{board.get_posts_count}}</td>
        <td>{{board.topics.count}}</td>
        <td>
            {% with post=board.get_last_post%}
            {%if post%}
            by {{post.created_by.username}} at {{post.created_dt}}
           {%else%}
            <small>No Posts</small>
            {%endif%}
            {%endwith%}

        </td>
    </tr>
    {%endfor%}

    </tbody>
</table>

{%endblock%}