{% extends 'base.html' %}
{% block title %}Edit Post{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'boards_list' %}">Sections</a></li>
  <li class="breadcrumb-item"><a href="{% url 'board_topics' post.topic.board.pk %}">{{ post.topic.board.name }}</a></li>
  <li class="breadcrumb-item active">Edit Post</li>
{% endblock %}

{% block content %}
  <form method="post" novalidate class="mb-4">
    {% csrf_token %}
    {% include 'includes/form.html'%}
    <button type="submit" class="btn btn-success">Save changes</button>
  </form>
{% endblock %}