{% extends 'base.html' %}
{%load static%}
{%block title%}{{topic.subject}} {%endblock%}
{% block breadcrumb %}

   <li class="breadcrumb-item "><a href="{% url 'home' %}">Sections</a></li>
   <li class="breadcrumb-item "><a href="{% url 'board_topics' topic.board.pk %}">{{ topic.board.name}}</a></li>

        <li class="breadcrumb-item active">{{topic.subject}}</li>
        <li class="breadcrumb-item active">Post reply</li>

{%endblock%}


{% block content %}
<form method="post" class="mb-4">
    {%csrf_token%}
    {%include 'includes/form.html'%}
        <button type="submit" class="btn btn-success">Post the reply</button>

</form>

{%for post in topic.posts.all%}
 <div class="col-10">
            <div class="row mb-3">
              <div class="col-6">
                <strong class="text-muted">{{ post.created_by.username }}</strong>
              </div>
              <div class="col-6 text-right">
                <small class="text-muted">{{ post.created_dt }}</small>
              </div>
            </div>
            {{ post.message }}

          </div>

{%endfor%}



{% endblock %}